holidays
scikit-learn
pandas
matplotlib
numpy
aiohttp
astral
fastapi[standard]
lightgbm
entsoe-py @ git+https://github.com/EnergieID/entsoe-py.git@b62938c

# Testing dependencies
pytest
pytest-asyncio
httpx