name: "Clear github README image cache"
on:
  schedule:
  - cron: "30 * * * *"
  push:
    branches: [ "main" ]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Purge images from camo.githubusercontent.com
      shell: bash
      run: |
        set -x
        urls=$(curl -sLk "https://github.com/${{ github.repository_owner }}/${{ github.event.repository.name }}/tree/main" | grep -Eo "(http|https)://camo.githubusercontent.com[a-zA-Z0-9./?=_%:-]*" | sort | uniq)
        while IFS= read -r url; do curl -X PURGE "$url"; done <<< "$urls"
